<!-- header -->
<header>
    <nav class="navbar">
        <a class="logo" href="#">MOONcafe<span>.</span></a>
        <ul class="menu-links">
            <!-- for phone -->
            <span id="close-menu" class="material-symbols">close</span>

            <li><a class="links" href="#">Home</a></li>
            <li><a class="links" href="#">Products</a></li>
            <li><a class="links" href="#">Offers</a></li>
            <li><a class="links" href="#">Chat</a></li>
            <li><a class="links" href="#">About us</a></li>
        </ul>

        <!-- for pphone -->
        <span id="ham-btn" class="material-symbols">menu</span>
    </nav>
</header>