button{
    border-radius: 50px;
    padding: 10px;
    font-size: xx-small;
    font-weight: 500;
    border: 0;
    position: absolute;
    /* ham taraz ba aside */
    bottom: 8px;
    left: 20px;
    /* choon dokmas */
    cursor: pointer;
    border: hidden 1px black;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; ///
     khoob nmishe */

}
a{
    text-decoration: none;
    color: black;
}
button:hover{
    background-color: #C06B3E;
    transition: 500ms;
    border: outset white 0.2px;
}
button:hover a{
    color: aliceblue;
}